/*******General Styles********/

* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-size: 14px;
}

#wrap {
    width: 100%;
}

div {
    display: inline-block;
}

img {
    width: 100%;
}

/****** Header ******/

header {
    background: url(../img/header_purple.png) no-repeat center;
    background-size: cover;
    height: 645px;
    font-size: 1.7rem;
}

.line {
    background: url(../img/underline.png) center no-repeat;
    width: 211px;
    text-align: center;
    display: block;
    padding-bottom: 50px;
}

header h1,
header h3,
header p {
    color: #fff;
    text-align: center;
    margin: 50px;
    font-family: "Lora", serif;
}

/****Navigation Menu****

nav {
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 14px;
  display: none;
}

.active {
  color: #35c2f8;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 2%;
  text-align: center;
}

nav li a {
  display: inline-block;
  padding: 10%;
  color: #fff;
  font-size: 2rem;
}

nav li a:hover {
  color: #fff;
  border-bottom: none;
  background-clip: border-box;
  background-color: #35c2f8;
  text-decoration: none;
}

nav li a:focus {
  color: #35c2f8;
  text-decoration: none;
}

/****Logo****/

#logo {
    color: #fff;
    font-size: 5rem;
    font-family: "Arizonia", cursive;
    margin-left: 2%;
    font-weight: 600;
}

/*****Services Block*****/

#services {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 200px, 3fr;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

#services h3 {
    font-size: 2rem;
    color: darkslategray;
    text-transform: uppercase;
}

#services p {
    font-size: 1.5rem;
    font-family: "Philosopher", sans-serif;
}


.heading h2 {
    word-wrap: normal;
}


/*******Icons for the Services Page********/

.tools {
    background: url("../img/tools_ico.png") no-repeat center;
    background-size: cover;
    width: 62px;
    height: 55px;
}

.web {
    background: url("../img/flow-tree_ico.png") no-repeat center;
    background-size: cover;
    height: 55px;
    width: 55px;
}

.supp {
    background: url("../img/lifesaver_ico.png") no-repeat center;
    background-size: cover;
    height: 55px;
    width: 55px;
}

/**********Extras***********/

#other {
    background-color: #f7f7f7;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "heading heading bag"
        "item1 item2 bag"
        "item3 item4 bag";
}

.other_heading {
    width: 70%;
    text-align: center;
    margin-top: 3%;
    font-family: "Jura", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    grid-area: heading;
}

.bag {
    background: url("../img/side.jpg") no-repeat left;
    background-size: cover;
    min-height: 600px;
    width: 30%;
    grid-area: bag;
}

.grdItm1 {
     grid-area: item1;
}
.grdItm2 {
     grid-area: item2;
    
}
.grdItm3 {
     grid-area: item3;
}
.grdItm4 {
     grid-area: item4;
}


/*********Extras Icons*********/

.young,
.content,
.individual,
.dynamic {
    display: inline-block;
    padding-left: 50px;
}

.p1 p {
    font-size: 1.4em;
    padding-left: 50px;
}

/***************Glyphs and glyphs - hover**************/
.young, .dynamic, .content, .individual {
    padding: 15px;
}

.young h3, .dynamic h3, .content h3, .individual h3 {
margin-left: 30px;
}
.young {
    background: url("../img/icons/024-1.png") no-repeat left;
    
} .young h3 {
    margin-left: 20px;
}

.young:hover {
    background: url("../img/icons/024.png") no-repeat left;
}

.dynamic {
    background: url("../img/icons/017-1.png") no-repeat left;
}

.dynamic:hover {
    background: url("../img/icons/017.png") no-repeat left;
}

.content {
    background: url("../img/icons/053-1.png") no-repeat left;
}

.content:hover {
    background: url("../img/icons/053.png") no-repeat left;
}

.individual {
    background: url("../img/icons/035-1.png") no-repeat left;
}

.individual:hover {
    background: url("../img/icons/035.png") no-repeat left;
}

/************Products Section************/

#products {
    min-height: 700px;
    width: 100%;
    background: url("../img/ipad.png") no-repeat right fixed;
    background-position: fixed;
}

#products h1 {
    text-align: center;
    font-size: 5rem;
    font-family: "Jura", sans-serif;
    font-weight: 600;
}

/************Products Section**************/

.product_container {
    width: 80%;
    margin: 0 10% 0 10%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: #000 0px 0px 10px 0px;
    overflow: hidden;
    clear: both;
    border-radius: 20px;
    margin-bottom: 100px;
}

.text {
    padding-left: 70px;
    font-size: 1.7rem;
    padding-bottom: 20px;
    padding-right: 10px;
    min-height: 310px;
    max-height: 400px;
}

/********Bottom Two Products*********/

.t_1 {
    min-height: 150px;
}

.description h3 {
    text-align: center;
    clear: both;
    width: 80%;
    padding-bottom: 20px;
    font-family: "Philosopher", serif;
}

/**********Bottom Line About Prices**********/

p a {
    display: inline;
}

p {
    display: inline-block;
}

.btm_line_price {
    width: 100%;
    padding: 30px;
    margin: auto;
}

/**********Icons**********/

.landing {
    background: url("../img/icons/eldorado/devices/002.png") no-repeat center left;
}

.i_shop {
    background: url("../img/icons/eldorado/basic/046.png") no-repeat center left;
}

.bs_card {
    background: url("../img/icons/eldorado/basic/003.png") no-repeat center left;
}

.corporate {
    background: url("../img/icons/eldorado/finance/016.png") no-repeat center left;
}

/**********Icons Hover**********/

.landing:hover {
    background: url("../img/icons/eldorado_stroke/devices/002.png") no-repeat center left;
}

.i_shop:hover {
    background: url("../img/icons/eldorado_stroke/basic/046.png") no-repeat center left;
}

.bs_card:hover {
    background: url("../img/icons/eldorado_stroke/basic/003.png") no-repeat center left;
}

.corporate:hover {
    background: url("../img/icons/eldorado_stroke/finance/016.png") no-repeat center left;
}

/********Product Headings********/

.bs_card,
.corporate,
.i_shop,
.landing {
    padding: 0 50px;
    margin-left: 20px;
    clear: both;
    font-size: 2rem;
    padding-bottom: 20px;
}

/********Price Boxes********/

.price {
    padding: 2%;
    width: auto;
    font-size: 2.5rem;
    border: 2px solid #35c2f8;
    border-radius: 10px;
}

.price:hover {
    background-color: #35c2f8;
    color: #fff;
}

/*********Team Section***********/

#team_wrap {
    min-height: 500px;
    width: 100%;
    text-align: center;
    display: none;
}

.team {
    width: 80%;
}

.heading_team {
    width: 100%;
    text-transform: capitalize;
    font-size: 5rem;
    margin-top: 2%;
    font-family: "Jura", sans-serif;
}

.team_cont {
    width: 80%;
}

.team_cont p {
    display: block;
    margin-top: 20px;
    font-size: 2rem;
}

.ak {
    background: url("../img/ak_1.png") no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid #35c2f8;
}

.ny {
    background: url("../img/ny.jpg") no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid #35c2f8;
}

.mk {
    background: url("../img/mk_1.png") no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid #35c2f8;
}

.btm_line_team {
    width: 80%;
    text-align: center;
    margin: 0 10% 0 10%;
    font-size: 2rem;
}

/*********Contacts***********/

#contact_wrap {
    min-height: 200px;
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
}

.cont_methods {
    width: 100%;
    display: block;
}

.contact_form {
    width: 50%;
}

.contact h1 {
    font-size: 5rem;
    padding-left: 50px;
}

.contact a {
    text-decoration: none;
    color: #fff;
}

.mobile {
    background: url("../img/mobile.png") no-repeat center;
    background-size: cover;
    height: 30px;
    width: 18px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.mail {
    background: url("../img/mail.png") no-repeat center;
    width: 27px;
    height: 17px;
    display: inline-block;
}

/*********Up Button***********/

#toTop {
    width: 35px;
    background: #35c2f8;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    /* отступ кнопки от нижнего края страницы*/
    left: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-family: verdana;
    font-size: 1.7rem;
    border-radius: 100%;
}

/*******Media Queries********/

@media (max-width: 480px) {
    .bag {
       
    }
    .extra {
        width: 100%;
        float: none;
    }

    nav li {
        display: none;
    }
    .text {
        width: 80%;
    }
    .money {
        width: 80%;
    }
    .product_container {
        width: 100%;
        margin: 0 auto;
    }
    .btm_line_price p {
        width: 80%;
    }
    .team_cont .col-xs-4 {
        display: inline-block;
        width: 100%;
    }
    .heading_team {
        font-size: 3rem;
    }
    
     .services h2 {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .services{
        float: none;
        display: block;
        width: 100%;
    }
    
    .services h2 {
        font-size: 2rem;
    }
    .bag {
       
    }
    header p {
        display: none;
    }
    #logo {
        display: block;
        text-align: center;
    }
    .extra {
        width: 100%;
    }
    .other_heading {
        width: 100%;
    }
    .products_heading {
        width: 90%;
        padding-bottom: 100px;
        text-align: center;
    }

    .btm_line_price p {
        width: 80%;
    }
    .team_wrap {
        width: 100%;
    }
    .team {
        width: 100%;
    }
    .koz,
    .yz,
    .mk {
        display: block;
        float: none;
    }
    /*
    .koz, .yz, .mk{/*
        display: block;
        width: 100%;
        float:none;
        margin-left: 30px;
        
    }*/
}

@media (max-width: 1080px) {
    nav {
        float: none;
        width: 100%;
    }

    #logo {
        display: block;
        width: 100%;
        text-align: center;
    }
    header p {
        margin-top: 0;
    }
    header h3 {
        margin-bottom: 0;
    }
    .bag {
        
    }
    .extra {
        width: 100%;
    }
    
    .heading {
    display: grid;
    grid-row: 1;
    grid-column: span 3;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    margin-top: 2%;
    font-family: "Jura", sans-serif;

    min-height: 200px;

}

.heading h2 {
    font-size: 3rem;
}

.services {
    display: flex;
    width: 100vw;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    align-self: center;
    flex-wrap:wrap;
    

}

.gridItem1,
.gridItem2,
.gridItem3 {
    margin: 0 10px 10px 10px;
}

.gridItem1 {
    grid-column: 1/2;
}

.gridItem2 {
    grid-column: 2/3;
}

.gridItem3 {
    grid-column: 3/4;
}
}

@media (min-width: 1080px) {
    .bag {

    }
    .extra {
        width: 70%;
        float: left;
    }
    nav {
        max-height: 80px;
        max-width: 70%;
        margin-top: -80px;
    }
    .team_cont img {
        border-radius: 100%;
        height: 200px;
        width: 200px;
        border: 2px solid #35c2f8;
    }
    .heading {
    display: grid;
    grid-row: 1;
    grid-column: span 3;
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    margin-top: 2%;
    font-family: "Jura", sans-serif;

    min-height: 200px;

}

.heading h2 {
    font-size: 3rem;
}

.services {
    display: grid;
    width: 100vw;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    align-self: center;

}

.gridItem1,
.gridItem2,
.gridItem3 {
    margin: 0 10px 10px 10px;
}

.gridItem1 {
    grid-column: 1/2;
}

.gridItem2 {
    grid-column: 2/3;
}

.gridItem3 {
    grid-column: 3/4;
}
}
